DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
SECRET_KEY=replace-with-a-random-secret-key
OPENAI_API_KEY=sk-your-openai-api-key
REDIS_HOST=localhost
REDIS_PORT=6379


POSTGRES_USER=mayankxdev // this will create a user when initializing
POSTGRES_PASSWORD=secretpassword // this will set the password for the user when initializing
POSTGRES_DB=mydatabase // this will create a database when initializing

# postgresql://admin:secretpassword@localhost:5432/mydatabase